.ParentPane{
    -fx-background-color: #303138;
    -fx-border-radius: 20px;
}
.close-btn{
    -fx-background-color: transparent;
}
.close-btn:hover{
    -fx-background-color: #E81123;
}
.min-btn{
    -fx-background-color: transparent;
}
.min-btn:hover{
    -fx-background-color: #171717;
}
.Nav{
    -fx-background-color: #80a3ff;

}
.label{

}

.top-bar-left{
    -fx-background-radius: 30px 0px 0px 30px ;
    -fx-background-color: #80a3ff;
    -fx-text-fill: snow;
}

.top-bar-right{
    -fx-background-radius: 0px 30px  30px 0px;

    -fx-background-color: #80a3ff;
    -fx-text-fill: snow;
}
.top-bar-right:selected{
    -fx-background-color: red;
}